body {
	font-family: 'Share Tech Mono', monospace;
	line-height: 1.4;
	color: #fff;
	background-color: #111;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.box {
	font-size: 19px;
	max-width: fit-content;
	color: #35bdb8;
	background-color: #2b2d2d;
	padding: 2px 7px 2px 7px;
	margin: 40px 0 20px 0;
	border-radius: 5px;
}

.text { 
	text-align: left; 
	padding-left: 20pt
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.yellow {
	color: #f4b400;
}

.green {
	color: #00e575;
}

.blue {
	color: #35bdb8;
}

.orange {
	color: #f48020;
}
