body {
	padding: 0 10px 0 10px;
}

.box {
	font-size: large;
	font-weight: bold;
	max-width: 500px;
	border: solid 1px;
	padding: 2px 7px 2px 7px;
	margin: 25px 0 25px 0;
}

.text { 
	text-align: left; 
	padding-left: 18pt
}
