body {
	font-family: 'DM Mono', monospace;
	line-height: 1.4;
	color: #fff;
	background-color: #111;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.box {
	font-size: 19px;
	max-width: fit-content;
	color: #35bdb8;
	background-color: #2b2d2d;
	padding: 2px 7px 2px 7px;
	margin: 30px 0 20px 0;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.yellow {
	color: #f4b400;
}

.green {
	color: #00e575;
}

.blue {
	color: #35bdb8;
}

.orange {
	color: #f48020;
}

.pink {
	color: #ef67a5;
}

#subjects {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
    padding-bottom: 2rem;
}

#subjects-table {
	border-spacing: 0;
}

th, td {
	border-color: grey;
	border-bottom-width: 1px;
    border-bottom-style: solid;
	
	padding: 8px 10px 10px;
}

th {
	text-align: left;
    font-weight: bold;
}

td {
	vertical-align: top;
}
